[submodule "master_controller/lib/RTCLib"]
	path = lib/RTClib
	url = https://github.com/adafruit/RTClib.git
[submodule "attiny_node/lib/TinyWire"]
	path = lib/TinyWire
	url = https://github.com/lucullusTheOnly/TinyWire.git
